* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
}

header .container {
    width: 500px;
    background-color: #1f531a;
    color: white;
    padding: 16px 0;
}

header li {
    display: inline;
    padding-left: 24px;
    text-transform: uppercase;
}

form input,
form button {
    border-radius: 3px;
    border: 2px solid #1f531a;
    padding: 8px;
    font-size: 16px;
}

form button {
    background-color: #1f531a;
    margin-top: 8px;
    color: white;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.saldo form {
    display: flex;
    justify-content: center;
}

.saldo h2, .saldo h3 {
    margin: 0 auto;
}

.saldo h3 {
    margin-bottom: 16px;
}

form {
    margin: 64px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resultado h3 {
    font-size: 32px;
}

.resultado {
    display: block;
    text-align: center;
}

.ganhou {
    color: #1f531a;
}

.perdeu {
    color: #531a1a;
}

.aposta input,
.aposta button {
    padding: 16px;
    font-size: 24px;
}